@import '../partials/_defaults';
@import '../partials/_header';
@import '../partials/_nav';
@import '../partials/_footer';

/*home.scss*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/*Page layout*/
.page-layout-header {
  flex: 0 0 auto;
  width: 100%;
}

.page-layout-main {
  flex: 1 1 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-layout-footer {
  flex: 0 0 auto;
  width: 100%;
}


/*Page Components*/
.page-heading {
  margin-top: 1em;
  font-size: 4em;
  color: $site-tertiary-color;
}

.git-commands {

}

.git-commands__heading {
  
}
