<!DOCTYPE html>
<html class='no-js' lang='en'>

<head>
  <%- include('../partials/_head.ejs') %>
  <link rel='stylesheet' type='text/css' href='git.css'>
</head>

<body>
  <div class=page-layout-header>
    <%- include('../partials/_header.ejs') %>
    <%- include('../partials/_nav.ejs') %>
  </div>

  <main class='page-layout-main'>
    <h2 class='page-heading'>Git</h2>
  </main>

  <div class='page-layout-footer'>
    <%- include('../partials/_footer.ejs') %>
  </div>
</body>

</html>
