@import '../partials/_defaults';

/*home.scss*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-layout-header {
  flex: 0 0 auto;
  width: 100%;
}

.page-layout-main {
  flex: 1 1 auto;
  width: 100%;
}

.page-layout-footer {
  flex: 0 0 auto;
  width: 100%;
}

@import '../partials/_header';
