<!DOCTYPE html>
<html class='no-js' lang='en'>

<head>
  <%- include('../partials/_head.ejs') %>
  <link rel='stylesheet' type='text/css' href='home.css'>
</head>

<body>
  <div class=page-layout-header>
    <%- include('../partials/_header.ejs') %>
    <%- include('../partials/_nav.ejs') %>
  </div>

  <main class='page-layout-main'>
    <h2 class='page-heading'>Home</h2>
    <p class='page-description'>
      Barebones site for me to keep a record of things that I've learnt in my own words.
      Hopefully the act of writing things down will help things stick in my head.
    </p>
  </main>

  <div class='page-layout-footer'>
    <%- include('../partials/_footer.ejs') %>
  </div>
</body>

</html>
