<!DOCTYPE html>
<html class='no-js' lang='en'>

<head>
  <%- include('../partials/_head.ejs') %>
  <link rel='stylesheet' type='text/css' href='index.css'>
</head>

<body>
  <div class=page-layout-header>
    <%- include('../partials/_header.ejs') %>
    <%- include('../partials/_nav.ejs') %>
  </div>

  <main class='page-layout-main'>
    <h2 class='page-heading'>Home</h2>
    <p class='page-description'>
      I made this site to start keeping a record of various things I've learnt that
      I use fairly regularly. It's mainly for me to refer back to. Sometimes I find it easier
      to keep a note of things in my own words. 
    </p>
  </main>

  <div class='page-layout-footer'>
    <%- include('../partials/_footer.ejs') %>
  </div>
</body>

</html>
