@import '../partials/_defaults';
@import '../partials/_header';
@import '../partials/_nav';
@import '../partials/_footer';


/*Page Components*/
.page-heading {
  margin-top: 1em;
  font-size: 4em;
  color: $site-tertiary-color;
}

.page-description {
  margin-top: 3em;
  font-size: 1.5em;
  font-weight: 500;
  color: $site-tertiary-color;
  text-align: justify;
  margin-left: $site-text-side-margin;
  margin-right: $site-text-side-margin;
}
