@import '../partials/_defaults';
@import '../partials/_header';
@import '../partials/_nav';
@import '../partials/_footer';


/*Page Components*/
.page-heading {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 4em;
  color: $site-primary-color;
}

.node-scripts-section {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $section-odd-bg-color;
}

.section-heading {
  margin-left:  $site-text-side-margin;
  margin-top: 1em;
}

.section-desc {
  margin-left:  $site-text-side-margin;
  margin-right: $site-text-side-margin;
  margin-top: 1em;
  text-align: justify;
  align-self: center;
  max-width: 700px;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
}

.node-script-container {
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: $site-secondary-color;
}
.node-script-container__heading {
}
.node-script-container__desc {
  margin-top: 1em;
  text-align: justify;
}


/*media queries*/
@media only screen and (min-width: 480px) {
  .node-script-container {
    max-width: 700px;
    margin-left: $site-text-side-margin;
    margin-right: $site-text-side-margin;
  }
  .node-script-container__code {
    font-size: 1em;
  }
  .section-desc {
    line-height: 2em;
  }
}
