<!DOCTYPE html>
<html class='no-js' lang='en'>

<head>
  <%- include('../partials/_head.ejs') %>
  <link rel='stylesheet' type='text/css' href='home.css'>
</head>

<body>
  <header class=page-layout-header>
    <%- include('../partials/_header.ejs') %>
  </header>

  <main class='page-layout-main'>
    <p>MAIN</p>
  </main>

  <footer class='page-layout-footer'>
    <p>FOOTER</p>
  </footer>
</body>

</html>
