/*_defaults.scss*/
$site-primary-color: #08010B;
$site-secondary-color: #fff;
$site-tertiary-color: #1366C7;
$site-text-side-margin: 20px;
$example-code-bg-color: #f8f8f8;
$section-odd-bg-color: 	#A1A5AF;


/*for confirmation only, class isn't applied to anything*/
.autoprefixer-test {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-bars {
  width: 0.857421875em;
  color: $site-secondary-color;
  background-color: $site-primary-color;
  font-size: 1.5em;
}

.icon-github-square {
  width: 0.857421875em;
  color: $site-secondary-color;
  background-color: $site-primary-color;
}

html {
  font-family: "system-ui";
  font-size: 16px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/*Page layout*/
.page-layout-header {
  flex: 0 0 auto;
  width: 100%;
}

.page-layout-main {
  flex: 1 1 auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-layout-footer {
  flex: 0 0 auto;
  width: 100%;
}
