<footer class='footer'>
  <!--<a class='footer__github-link' href='https://github.com/Hoppy1982/learning-record'><i class="fab fa-github-square"></i></a>-->
  <a class='footer__github-link' href='https://github.com/Hoppy1982/learning-record'>
    <svg class="icon icon-github-square"><use xlink:href="#icon-github-square"></use></svg>
  </a>
</footer>
