/*_header.scss*/

.header {
  background: $site-primary-color;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1rem;
}

.header__heading {
  text-align: center;
  color: $site-secondary-color;
  font-size: 2em;
}
