<nav class='site-main-nav'>
  <ul class='site-main-nav__links-list'>

    <li id='site-main-nav__menu-button-clickable' class='site-main-nav__menu-button-list-element'>
      <svg class="icon icon-bars"><use xlink:href="#icon-bars"></use></svg>
    </li>

    <li class='site-main-nav__link-item site-main-nav__link-item--dontDisplay'>
      <div id='site-main-nav__page-mkr-home' class='site-main-nav__page-mkr site-main-nav__page-mkr--current'></div>
      <a class='site-main-nav__link' href='index.html'>home</a>
    </li>

    <li class='site-main-nav__link-item site-main-nav__link-item--dontDisplay'>
      <div id='site-main-nav__page-mkr-git' class='site-main-nav__page-mkr'></div>
      <a class='site-main-nav__link' href='git.html'>git</a>
    </li>

    <li class='site-main-nav__link-item site-main-nav__link-item--dontDisplay'>
      <div id='site-main-nav__page-mkr-npm' class='site-main-nav__page-mkr'></div>
      <a class='site-main-nav__link' href='#'><del>npm</del></a>
    </li>

    <li class='site-main-nav__link-item site-main-nav__link-item--dontDisplay'>
      <div id='site-main-nav__page-mkr-node' class='site-main-nav__page-mkr'></div>
      <a class='site-main-nav__link' href='node.html'>node</a>
    </li>

    <li class='site-main-nav__link-item site-main-nav__link-item--dontDisplay'>
      <div id='site-main-nav__page-mkr-js' class='site-main-nav__page-mkr'></div>
      <a class='site-main-nav__link' href='#'><del>js</del></a>
    </li>

  </ul>
</nav>
