<nav class='site-main-nav'>
  <ul class='site-main-nav__links-list'>

    <li class='site-main-nav__link-item'>
      <div class='site-main-nav__page-mkr site-main-nav__page-mkr--current'></div>
      <a class='site-main-nav__link' href='index.html'>Home</a>
    </li>

    <li class='site-main-nav__link-item'>
      <div class='site-main-nav__page-mkr'></div>
      <a class='site-main-nav__link' href='git.html'>Git</a>
    </li>

    <li class='site-main-nav__link-item'>
      <div class='site-main-nav__page-mkr'></div>
      <a class='site-main-nav__link' href='#'>npm</a>
    </li>

    <li class='site-main-nav__link-item'>
      <div class='site-main-nav__page-mkr'></div>
      <a class='site-main-nav__link' href='node.html'>Node</a>
    </li>

    <li class='site-main-nav__link-item'>
      <div class='site-main-nav__page-mkr'></div>
      <a class='site-main-nav__link' href='#'>JS</a>
    </li>

  </ul>
</nav>
