<nav class='site-main-nav'>
  <ul class='site-main-nav__links-list'>
    <li class='site-main-nav__link-item'><a class='site-main-nav__link' href='/'>Home</a></li>
    <li class='site-main-nav__link-item'><a class='site-main-nav__link' href='git.html'>Git</a></li>
    <li class='site-main-nav__link-item'><a class='site-main-nav__link'>Javascript</a></li>
  </ul>
</nav>
